/* Styles pour la page des commandes clients */
.page-commandes-clients {
  padding: 20px;
}

.page-commandes-clients h2 {
  color: #2c3e50;
  margin-bottom: 10px;
}

.page-commandes-clients h2 i {
  margin-right: 10px;
  color: #e74c3c;
}