/* Styles pour la page des commandes fournisseurs */
.page-commandes-fournisseurs {
  padding: 20px;
}

.page-commandes-fournisseurs h2 {
  color: #2c3e50;
  margin-bottom: 10px;
}

.page-commandes-fournisseurs h2 i {
  margin-right: 10px;
  color: #f39c12;
}